nav ul a,
nav .brand-logo {
  background-color: #26a69a;
  color: #444;
  overflow: visible;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #f3f5f5;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.quote {
  color: whitesmoke;
  font-weight: 550;
  font-size: 30px;
}

.div-nav, .nav-wrapper {
  background-color: #26a69a;
}

#dropdown1 li {
  color: white;
}

form {
  padding-left: 50px;
}

.modal-image {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel .carousel-item img {
  width: 230%;
  height: 170%;
  margin-left: -70%;
}

.carousel {
  margin-top: -20%;
  padding-top: 30%;
  max-height: 420px;
}

.container-tall {
  height: 82vh;
}

